@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Primary */

  --Blue: hsl(246, 80%, 60%);
  /* work */
  --Orange: hsl(15, 100%, 70%);
  /* play */
  --Soft-blue: hsl(195, 74%, 62%);
  /* study */
  --Light-red: hsl(348, 100%, 68%);
  /* exercise */
  --Lime-green: hsl(145, 58%, 55%);
  /* social */
  --Violet: hsl(264, 64%, 52%);
  /* self care */
  --Soft-orange: hsl(43, 84%, 65%);

  /* Neutral */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  background-color: var(--Very-dark-blue);
  place-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 1050px;
}

.profile {
  width: 250px;
  height: 350px;
  padding: 30px;
  background-color: var(--Blue);
  color: white;
  border-radius: 16px;
  margin-bottom: 30px;
}

.profile img {
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 40px;
}

.profile p {
  font-size: 1.6rem;
  color: var(--Pale-Blue);
  margin-bottom: 5px;
}

.profile h1 {
  font-size: 4rem;
  font-weight: 300;
}

.panel {
  width: 250px;
  height: 520px;
  background-color: var(--Dark-blue);
  color: var(--Desaturated-blue);
  border-radius: 16px;
}

.panel li {
  margin-left: 30px;
  margin-bottom: 20px;
  list-style: none;
  cursor: pointer;
}

.buttons li {
  font-size: 1.6rem;
}

.buttons li:hover {
  color: white;
}

.image-card {
  width: 250px;
  height: 245px;
  margin-bottom: 30px;
  background-color: aqua;
  border-radius: 16px;
  display: flex;
  align-items: last baseline;
  margin-left: 30px;
}

.data-card {
  width: 250px;
  height: 200px;
  color: white;
  background-color: var(--Dark-blue);
  border-radius: 16px;
  padding: 30px;
}

#data-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.daily {
  display: none;
}

.daily.active {
  display: block;
}

.weekly {
  display: none;
}

.weekly.active {
  display: block;
}

.monthly {
  display: none;
}

.monthly.active {
  display: block;
}

.work {
  background-color: var(--Orange);
  background-image: url(./images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: 155px -10px;
}

.play {
  background-color: var(--Soft-blue);
  background-image: url(./images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: 155px -10px;
}

.study {
  background-color: var(--Light-red);
  background-image: url(./images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: 155px -10px;
}

.exercise {
  background-color: var(--Lime-green);
  background-image: url(./images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: 155px -3px;
}

.social {
  background-color: var(--Violet);
  background-image: url(./images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: 165px -10px;
}

.self-care {
  background-color: var(--Soft-orange);
  background-image: url(./images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: 165px -10px;
}

.data-card h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.current {
  font-size: 4.5rem;
  font-weight: 300;
  margin-bottom: 7px;
}

.last-week {
  font-size: 1.3rem;
  color: var(--Pale-Blue);
}